body {
  background-color: #efeae2;
}

.container-chats {
  display: flex;
  height: 100vh;
}

.left-side-chats {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
}

.right-side-chats {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-box-chats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

/* 2. Media query for desktop view (adjust breakpoint as needed) */
@media screen and (min-width: 992px) {
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
