* {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.form-group label {
  display: block;
  margin-bottom: 0.25rem;
}
.form-group input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 7.5px;
  border: 1px solid #ccc;
  padding: 0.5rem;
}
.form-group {
  margin-bottom: 1rem;
}

.landing-box-sign-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 75px 0;
}

.have-text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}
