* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.container {
  display: flex;
  height: 100vh;
}

.left-side {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-side {
  display: none;
}

.img-leave {
  width: 100%;
  height: 100vh;
}

.landing-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

/* 2. Media query for desktop view (adjust breakpoint as needed) */
@media screen and (min-width: 992px) {
  .right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
