* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.container {
  display: flex;
  height: 100vh;
}

.left-side {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.right-side {
  display: none;
  overflow: hidden;
}

.img-leave {
  width: 100%;
  height: 100vh;
}

.landing-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 100px;
}

.landing-button-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-button-box-button {
  padding: 7.5px 20px;
  background-color: #3a5b22;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: small;
}

.left-box {
  display: flex;
  flex-direction: column;
  width: 80%;
}

/* Media query for desktop view */
@media screen and (min-width: 992px) {
  .right-side {
    display: flex;
  }
  .left-box {
    width: 60%;
  }
}
